body{
    transition :0.5s;
}


.sidenav{
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    z-index:1;
    background: #111;
    padding-top: 60px;
    overflow-x: hidden;


    width: 0;

    transition :0.5s;
}
.sidenav a{
    color: #818181;
    text-decoration: none;
    font-size: 25px;
    display: block;
    padding: 8px 8px 8px 32px;

    transition :0.3s;
}
.sidenav a:hover{
    color: #f1f1f1;
}

div#main{
    padding: 16px;
    transition :0.5s;
}
