@charset "UTF-8";
body{
    background: #F9FCF3;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
}

main {
    padding: 32px;
}

html {
    height: 200%;
    line-height: 1.6;
}
select {
    width: 80px; /* 원하는 너비설정 */
    height: 30px;
    padding: 1px .1px; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */
    border: 1px solid #999;
    border-radius: 1px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

.str {
    float: right;
    margin-top: 9px;
    margin-right: 15px;
    padding: 10px;
    background-color: #f8941d;
    border-radius: 18px;
    border: none;
}

button:hover {
     opacity: 0.8;
    }

button:active {
     background-color: #F8941D;
     opacity: 1;
    }
