<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dduiddui.mapper.addressMapper">

    <!-- 즐겨찾기 목록 가져오기 -->
    <select id="getAddressList" resultType="com.example.dduiddui.vo.addressVO">
        SELECT *
        FROM tb_adr
        WHERE mbr_sn = #{mbr_sn}
        ORDER BY rgtr_dt DESC;
    </select>

    <!-- 즐겨찾기 추가하기 -->
    <insert id ="insertAddr" parameterType = "com.example.dduiddui.vo.addressVO">
        INSERT INTO tb_adr
            (mbr_sn, adr_ttl, adr_cn, adr_st,rgtr_dt)
        VALUES
            (
                #{mbr_sn},
                #{adr_ttl},
                #{adr_cn},
                #{adr_st},
                #{rgtr_dt}
            )
    </insert>
</mapper>