<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dduiddui.mapper.userMapper">	<!-- mapper 인터페이스가 위치하는 경로 -->


    <!-- 작성 -->
    <insert id="insertBoard" parameterType="com.example.dduiddui.vo.boardWriteVO">
        INSERT INTO `tb_brd`(brd_ctgr,safe_yn, brd_ttl, brd_cn, brd_nn, brd_pri, brd_adr, brd_end_dt, rgtr_id, rgtr_dt)
        VALUES
            (
                #{brdCtgr},
                #{safeYn},
                #{brdTtl},
                #{brdCn},
                #{brdNn},
                #{brdPri},
                #{brdAdr},
                #{brdEndDt},
                #{rgtrId},
                #{rgtrDt}
            )
    </insert>


</mapper>