<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dduiddui.mapper.boardMapper">	<!-- mapper 인터페이스가 위치하는 경로 -->

    <select id="getNBoardList" resultType="com.example.dduiddui.vo.boardVO">
        SELECT *
        FROM `tb_brd`
        WHERE safe_yn='N'
        ORDER BY rgtr_dt DESC;
        <!-- SQL문 작성 -->
    </select>

    <select id="getYBoardList" resultType="com.example.dduiddui.vo.boardVO">
        SELECT *
        FROM `tb_brd`
        WHERE safe_yn='Y'
        ORDER BY rgtr_dt DESC;
        <!-- SQL문 작성 -->
    </select>

    <!-- 작성 -->
    <insert id="insertBoard" parameterType="com.example.dduiddui.vo.boardVO">

        <selectKey keyProperty="str_sn" resultType="java.lang.Integer" order="BEFORE">
            SELECT str_sn
            FROM `tb_str`
            WHERE str_nm = #{str_nm}
        </selectKey>
        INSERT INTO `tb_brd`(brd_ctgr, str_sn, safe_yn, brd_ttl, brd_cn, brd_nn, brd_pri, brd_adr, brd_end_dt, rgtr_id, rgtr_dt)
        VALUES
            (
                #{brd_ctgr},
                #{str_sn},
                #{safe_yn},
                #{brd_ttl},
                #{brd_cn},
                #{brd_nn},
                #{brd_pri},
                #{brd_adr},
                #{brd_end_dt},
                #{rgtr_id},
                #{rgtr_dt}
            )
    </insert>

    <!-- 게시글 클릭 -->
    <select id="getBrd" resultType="com.example.dduiddui.vo.boardVO">
        SELECT *
        FROM tb_brd
        WHERE brd_sn = #{brd_sn}
    </select>

    <!-- 게시글 검색 -->
    <select id="getSearchList" resultType="com.example.dduiddui.vo.boardVO">
        SELECT A.*,B.str_nm,B.str_img
        FROM tb_brd AS A LEFT JOIN tb_str AS B
        ON A.str_sn = B.str_sn
        WHERE A.safe_yn= #{safe_yn}
        <if test="searchCnd == 0">
            AND(
            A.brd_st = #{searchWrd}
            OR
            A.brd_ctgr LIKE CONCAT ('%', #{searchWrd},'%')
            OR
            B.str_nm LIKE CONCAT ('%', #{searchWrd},'%')
            OR
            A.brd_adr LIKE CONCAT ('%', #{searchWrd},'%')
            )
        </if>
        <if test="searchCnd==1">
            AND A.brd_st = #{searchWrd}
        </if>
        <if test="searchCnd == 2">
            AND A.brd_ctgr LIKE CONCAT ('%', #{searchWrd},'%')
        </if>
        <if test="searchCnd == 3">
            AND B.str_nm LIKE CONCAT ('%', #{searchWrd},'%')
        </if>
        <if test="searchCnd == 4">
            AND A.brd_adr LIKE CONCAT ('%', #{searchWrd},'%')
        </if>
        ORDER BY A.rgtr_dt DESC;
    </select>

    <!--가게 리스트-->
    <select id="getStoreList" resultType="com.example.dduiddui.vo.storeVO">
        SELECT *
        FROM tb_str
    </select>
    <!-- 가게 클릭 -->
    <select id="getStr" resultType="com.example.dduiddui.vo.storeVO">
        SELECT *
        FROM tb_str
        WHERE str_sn = #{str_sn}
    </select>
</mapper>