<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dduiddui.mapper.payMapper">

    <!-- 음식값 빵 주문현황에 주문 저장하기 -->
    <insert id ="insertPay" parameterType = "com.example.dduiddui.vo.payVO">
        INSERT INTO tb_pay
            (brd_sn,menu_nm,mbr_sn,menu_pr,pay_yn,odr_yn,dlv_yn)
        VALUES
            (
                #{brd_sn},
                "",
                #{mbr_sn},
                "",
                'N',
                'N',
                'N'
            )
    </insert>

    <select id="getPayListBybrdSn" resultType="com.example.dduiddui.vo.payVO">
        SELECT *
        FROM tb_pay
        WHERE brd_sn = #{brd_sn}
    </select>

    <!-- 주문 현황 수정사항 저장하기 -->
    <update id="updatePay" parameterType="com.example.dduiddui.vo.payVO">
        UPDATE tb_pay
        SET menu_nm = #{menu_nm} ,
            menu_pr = #{menu_pr} ,
            pay_yn = #{pay_yn} ,
            dlv_yn = #{div_yn}
        WHERE mbr_sn = #{mbr_sn}
    </update>

    <update id="updatePayYn" parameterType="com.example.dduiddui.vo.payVO">

        UPDATE tb_pay
        SET
            pay_yn = 'Y'
        WHERE mbr_sn = #{mbr_sn}
    </update>



</mapper>