<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dduiddui.mapper.payMapper">

    <!-- 음식값 빵 주문현황에 주문 저장하기 -->
    <insert id ="insertPay" parameterType = "com.example.dduiddui.vo.payVO">
        INSERT INTO tb_pay
            (brd_sn,menu_nm,mbr_sn,menu_pr,pay_yn,odr_yn,dlv_yn)
        VALUES
            (
                #{brd_sn},
                #{menu_nm},
                #{mbr_sn},
                #{menu_pr},
                #{pay_yn},
                'N',
                #{div_yn}
            )
    </insert>

    <select id="getPayListBybrdSn" resultType="com.example.dduiddui.vo.payVO">
        SELECT *
        FROM tb_pay
        WHERE brd_sn = #{brd_sn}
    </select>

</mapper>