<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dduiddui.mapper.selectMapper">	<!-- mapper 인터페이스가 위치하는 경로 -->

    <select id="getSelectList" resultType="com.example.dduiddui.vo.selectVO">
        SELECT *
        FROM tb_str
    </select>

    <select id="getStrBySn" resultType="com.example.dduiddui.vo.selectVO">
        SELECT *
        FROM tb_str
        WHERE str_sn = #{str_sn}
    </select>

    <select id="getBoardStr" resultType="com.example.dduiddui.vo.selectVO">
        SELECT A.str_sn,B.str_nm,B.str_img
        FROM `tb_brd` AS A LEFT JOIN tb_str AS B
                                     ON A.str_sn = B.str_sn
        WHERE A.brd_sn = #{brd_sn}
    </select>
</mapper>